


{% extends 'base.html' %}


{% block title %}Liste des oiseaux - Monde Enchanté des Oiseaux{% endblock %}

{% block h1 %}Contemplez ces magnifiques oiseaux{% endblock %}

{% block content %}

<ul>
    {% for oiseau in oiseaux %}
        <li>
            <a href="{{ url_for('oiseau_routes.afficher_oiseau', id=oiseau[0]) }}">{{ oiseau[2] }}</a>
            <!-- Formulaire pour supprimer l'oiseau -->
            {% if current_user.is_authenticated and current_user.role == 'admin' %}
            <form action="{{ url_for('oiseau_routes.supprimer_oiseau', id=oiseau[0],type='nom',typeid=oiseau[0]) }}" method="POST" style="display:inline;">
                <button type="submit" onclick="return confirm('Êtes-vous sûr de vouloir supprimer cet oiseau ?');">Supprimer</button>
            </form>
            {% endif %}
        </li>
    {% endfor %}
</ul>

{% endblock %}
